.homeBlog {
  width: 100%;
  height: 1200px;
  gap: 120px;
  padding: 90px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.leftBox {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blogPost1 {
  width: 40%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.blogAdjust1 {
  width: 45%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.blogAdjust2 {
  width: 45%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.blogPost2 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.postTitle {
  font-weight: 700;
  font-size: 28px;
  font-family: "Sen", sans-serif;
  text-align: start;
}

.postText {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-align: start;
}

.rightBox {
  height: 100%;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: start;
}

.title {
  width: 350px;
  font-weight: 700;
  font-size: 36px;
  font-family: "Sen", sans-serif;
  text-align: start;
}

.text {
  width: 440px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .homeBlog {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px;
    box-sizing: border-box;
  }

  .rightBox {
    height: auto;
    gap: 17px;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    font-family: "Sen", sans-serif;
    text-align: center;
  }

  .text {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    text-align: justify;
  }

  .leftBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  .blogPost1 {
    width: 100%;
    height: auto;
    display: flex;
    gap: 27px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .blogAdjust1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .blogAdjust2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .blogPost2 {
    width: 100%;
    height: auto;
    display: flex;
    gap: 27px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .postTitle {
    font-weight: 700;
    font-size: 24px;
    font-family: "Sen", sans-serif;
    text-align: start;
    letter-spacing: -0.56px;
    margin: 0;
    padding: 0;
  }

  .postText {
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    text-align: start;
  }
}
