.mediaContainer {
  width: 100%;
  height: auto;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 90px;
  background-color: #ffffff;
}

.mediaStack {
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mediaTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -1px;
}

.mediaText {
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0px;
}

.cardFlex {
  width: 100%;
  height: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cardStack {
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid #34449c4d;
  border-radius: 10px;
}

.img {
  width: 70px;
  height: 70px;
}

.cardTitle {
  color: #34449c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 3%;
  text-align: center;
}

.cardText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3%;
  text-align: center;
}

.tab {
  width: 100%;
}

.tabList {
  width: 100%;
  justify-content: center;
}

.tabLists {
  width: 100%;
  justify-content: center;
  position: relative;
  gap: 20px;
  margin-bottom: var(--mantine-spacing-md);
}

.indicator {
  background-color: #34449c;
  border-radius: 100px;
  border: 1px solid #34449c;
  box-shadow: var(--mantine-shadow-sm);
}

.subOptions {
  width: 18%;
  height: 56px;
  font-size: 20px;
  font-weight: 600;
  color: #34449c;
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;
  border-radius: 100px;
  border: 1px solid #34449c;

  &[data-active] {
    color: #ffffff;
  }
}

.week {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.taskFlex {
  position: relative;
  gap: 30px;
  flex: 1 1 calc(33.333% - 20px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.taskBox {
  position: relative;
  width: 30%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.taskBox:hover {
  transform: scale(1.02);
}

.imageBox {
  position: relative;
  width: 100%;
  height: auto;
}

.taskImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.taskTitle {
  color: #1d242a;
  font-family: "Sen", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
