.mediaContainer {
  width: 100%;
  height: auto;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 90px;
  background-color: #ffffff;
}

.mediaStack {
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mediaTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -1px;
}

.mediaText {
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0px;
}

.cardFlex {
  width: 100%;
  height: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cardStack {
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid #34449c4d;
  border-radius: 10px;
}

.img {
  width: 70px;
  height: 70px;
}

.cardTitle {
  color: #34449c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 3%;
  text-align: center;
}

.cardText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3%;
  text-align: center;
}
