.body {
  background-color: #37459c;
  color: #ffffff;
  padding: 12px 70px;
}

.navLinks {
  display: flex;
  gap: 20px;
  color: #ffffff;
  list-style-type: none;
}

.links {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.links:hover {
  color: #e98629;
  scale: 1.1;
}

.active {
  color: #e98629;
  scale: 1.1;
}

.userImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background-color: #ffffff;
  color: #37459c;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 100px;
  text-decoration: none;
}
.login:hover {
  scale: 1.05;
}

/* Mobile screen  */
@media screen and (max-width: 48rem) {
  .mobileBody {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #37459c;
    color: #ffffff;
    padding: 1.25rem;
  }

  .navbarBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    background-color: #37459c;
    color: #ffffff;
  }

  .menu {
    width: 1.5625rem;
    height: 1.5625rem;
    aspect-ratio: 1/1;
  }

  .navLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    list-style-type: none;
    padding: 0;
  }

  .lis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .loginBtn {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    color: #37459c;
    font-size: 16px;
    font-weight: 700;
    margin-top: 100px;
    border: none;
    border-radius: 200px;
  }
}
