.footerBox {
  width: 100%;
  height: 400px;
  margin-top: 6.25rem;
  color: #ffffff;
  background-color: #34449c;
  padding: 5.625rem;
  gap: 6.25rem;
  align-items: space-between;
  justify-content: center;
}

.top {
  width: 100%;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.logoBox {
  width: 20%;
  justify-content: start;
  align-items: start;
}

.logoText {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.group {
  width: 75%;
  gap: 1.25rem;
  align-items: start;
  justify-content: space-evenly;
}

.list {
  justify-content: space-between;
  align-items: start;
  gap: 2.1875rem;
}

.titles {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Sen", sans-serif;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.groupLink {
  display: flex;
  gap: 1.25rem;
  justify-content: space-evenly;
}
