.loginContainer {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginLeft {
  padding: 40px 70px;
  width: 50%;
  height: 100%;
  gap: 40px;
  justify-content: space-evenly;
}

.loginBox {
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.googleButton {
  width: 100%;
  height: 55px;
  gap: 10px;
  align-items: center;
  border-radius: 200px !important;
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 1px solid #000000 !important;
}

.googleText {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 10px;
}

.divider {
  position: relative;
}

.dividerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 0 20px;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.inputGroup {
  gap: 20px;
  justify-content: center;
}

.emailGroup {
  gap: 5px;
  justify-content: center;
}

.label {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.input {
  width: 100%;
  height: 55px;
  outline: #d0d0d1;
  border: 1px solid #d0d0d1;
  border-radius: 200px;
  background: url("/icons/icon_mail.svg") no-repeat left 10px center;
  background-size: 20px;
  padding-left: 35px;
}

.input2 {
  width: 100%;
  height: 55px;
  outline: #d0d0d1;
  border: 1px solid #d0d0d1;
  border-radius: 200px;
  background: url("/icons/icon_lock.svg") no-repeat left 10px center;
  background-size: 20px;
  padding-left: 35px;
}

.input:focus {
  border: 2px solid #000000;
}

.input2:focus {
  border: 2px solid #000000;
}

.remBox {
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.forget {
  color: #37459c;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.signinlogButton {
  color: #ffffff !important;
  background-color: #37459c !important;
  margin-top: 20px;
  width: 100%;
  height: 55px;
  border-radius: 200px !important;
}

.signBox {
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.signText {
  color: #121517;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.signLink {
  color: #37459c;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.loginRight {
  width: 50%;
  height: 100%;
}

.logImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
