.allBlog {
  width: 100%;
  gap: 2rem;
  padding: 0.625rem 5.625rem;
  background-color: #ffffff;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.blogPosts {
  display: flex;
  flex-wrap: wrap;
  gap: 2.1875rem;
  flex-basis: calc(25% - 0.625rem);
  justify-content: center;
  align-items: center;
}

.leftPost {
  width: 25%;
  height: 100%;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.leftImage {
  width: 100%;
  height: 12.5rem;
}

.postWriter {
  color: #6941c6;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
}

.titleFlex {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.postTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.arrow {
  width: 1rem;
  height: 1rem;
}

.text {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #667085;
}

.tagGroup {
  gap: 10px;
}

.tag {
  color: #6941c6;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  list-style-type: none;
}

.tag2 {
  color: #3538cd;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  list-style-type: none;
}

.tag3 {
  color: #c11574;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  list-style-type: none;
}
