.signUserContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center !important;
  align-items: center !important;
}

.darkLayout {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  justify-content: center !important;
  align-items: center !important;
}

.recoverLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px !important;
  z-index: 100;
  width: 465px;
  height: 260px;
  gap: 20px;
  justify-content: center !important;
  align-items: center !important;
}

.cancelBox {
  width: 100%;
  justify-content: start;
  align-items: end;
}

.cancel {
  margin-right: 20px;
  cursor: pointer;
}

.successTitle {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 20px !important;
}

.successText {
  width: 90%;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
